<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>NextGenForReal</servlet-name>
    <servlet-class>nextgenforreal.NextGenForRealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextGenForReal</servlet-name>
    <url-pattern>/nextgenforreal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendmsg</servlet-name>
    <servlet-class>nextgenforreal.SendmsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendmsg</servlet-name>
    <url-pattern>/sendmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recvmsg</servlet-name>
    <servlet-class>nextgenforreal.RecvmsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recvmsg</servlet-name>
    <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>sendmsg.jsp</welcome-file>
  </welcome-file-list>
</web-app>